@charset "UTF8";

@media screen and (max-width: 432px) {
    footer nav {
        display: flex;
        align-items: center;
    }

    .logo-container {
        width: 50%;
    }

    footer nav > ul {
        width: 50%;
        border-left: 1px solid gray;
        margin-top: 0px;
    }

    footer nav > ul > li {
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 999px) {
    header {
        position: static;
    }
    
    body {
        margin-top: 0px;
    }

    .nav-list {
        display: none;
        position: absolute;
        top: 160px;
        left: 0px;
        width: 100%;
        height: fit-content;
        background-color: #0F1926;
    }

    .nav-list li {
        display: block;
    }

    .nav-list a {
        text-align: center;
        display: block;
        padding: 40px;
        margin-left: 0px;
    }

    .menu-active {
        display: block;
    }

    .burger {
        display: block;
    }

    .burger:hover {
        color: white;
    }

    .search-icon {
        display: block;
    }

    .search-icon:hover {
        color: white;
    }

    .search {
        display: none;
        position: absolute;
        top: 160px;
        left: 0;
        width: 100%;
        background-color: #0F1926;
        border-radius: 0px;
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .search-bar {
        border-radius: 0px;
        height: 40px;
        width: 100%;
        margin-left: 10px;
    }

    .search-button {
        width: 80px;
        margin-right: 10px;
    }

    .search-active {
        display: flex;
    }
}

@media screen and (max-width: 1099px) { 
   main {
        max-width: 800px;
    }

    .share {
        display: none;
    }

    .share-mobile {
        display: block;
    }

    #share-title {
        text-align: center;
        font-size: 1rem;
        text-transform: uppercase;
        color: #818181;
    }
}